{% extends 'base.html' %}

{% block title %} Home | SAIL Year Book Portal {% endblock %}

{% block content %}

{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href={% static 'css/home.css' %}>
{% endblock%}

<div class="container-fluid">
	<div class="row mb-2">
		<div class="homepage">
			  <Navbar />
			  <img src={% static 'img/camerabg.png' %} alt="CamImg" class="camera-img" />
			  <a href="">
				<div class="search">YEARBOOK 2022 &nbsp; &#128279;</div>
			  </a>
			  <div class="announcement">
				<h2>Announcement</h2>
				<div class="para">
				  {% if not announce_list %}
				  <div class="databody">
					No New Announcements
				  </div>
				  {% endif %}
				  {% for i in announce_list %}
					  <div class="databody">
						{{ forloop.counter }}. 
						  {{i.content}}
						  {% if i.important %} 
							  <img src={% static 'img/megaphoneIcon.svg' %} alt="" class="megaphoneicon" />
						  {% endif %}
					  </div>
				  {% endfor %}
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
