{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href={% static 'css/leaderboard.css' %} />
    <title>Leaderboard</title>
  </head>
  <body>
    <div class="leaderboard-page">
      <!-- <Navbar/> -->
      <div class="leaderboard-top">
        <h1 class="leaderboard-title">Testimonials Leaderboard</h1>
        <div class="leaderboard-top3">
          <div class="leaderboard-second">
            <div class="ldb-second-top">
              <div class="second-posin"><div>2</div></div>
              <div class="second-img-cont">
                <img class="second-img" src={% static 'img/index3.jpg' %} >
              </div>
              <div class="second-testimonials">
                <div class="cont"><div>{{ second.votes }}</div></div>
                <!--Remove the integer ^ when data is fetched from the database  -->
              </div>
            </div>

            <div class="ldb-second-bottom">
              <div class="second-name" style="font-size: 27; font-weight: 600">
                {{ second.name}}
              </div>
              <div
                class="second-branch-year"
                style="font-size: 16; font-weight: 400"
              >
                {{ second.branch }}<br />{{ second.degree }}{{ second.year }}
              </div>
            </div>
          </div>

          <div class="leaderboard-first">
            <div class="ldb-first-top">
              <div class="first-posin"><div>1</div></div>
              <div class="first-img-cont">
                <img class="first-img" src={% static 'img/index3.jpg' %} >
              </div>
              <div class="first-testimonials">
                <div class="cont"><div>{{ first.votes}}</div></div>
                <!--Remove the integer ^ when data is fetched from the database  -->
              </div>
            </div>

            <div class="ldb-first-bottom">
              <div class="first-name" style="font-size: 30; font-weight: 600">
                {{ first.name}}
              </div>
              <div
                class="first-branch-year"
                style="font-size: 18; font-weight: 400"
              >
                {{ first.branch }}<br />{{ first.degree }}{{ first.year }}
              </div>
            </div>
          </div>

          <div class="leaderboard-third">
            <div class="ldb-third-top">
              <div class="third-posin"><div>3</div></div>
              <div class="third-img-cont">
                <img class="third-img" src={% static 'img/index3.jpg' %} >
              </div>
              <div class="third-testimonials">
                <div class="cont"><div>{{ third.votes }}</div></div>
                <!--Remove the integer ^ when data is fetched from the database  -->
              </div>
            </div>

            <div class="ldb-third-bottom" style="position: relative; right: 15%; margin-bottom: -5%;">
              <div class="third-name" style="font-size: 23; font-weight: 600">
                {{ third.name }}
              </div>
              <div
                class="third-branch-year"
                style="font-size: 14.5; font-weight: 400"
              >
                {{ third.branch }}<br />{{ third.degree }} {{ third.year }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom Part Starts Here -->

      <!-- <div class="leaderboard-bottom">
        <Slider {...settings}>

        <div id="arrow-left" class="arrow"></div>
        {% for item in others %}

        <div class="slide slide1">Bottom Part : </div>

        <div class="leaderboard-carousel-item">
          <div class="ldb-item-top">
            <div class="item-img-cont"><div class="item-img">
              <img class="first-img" src={% static 'img/index3.jpg' %} >
            </div></div>
            <div class="item-testimonials">
              <div class="cont"><div>{{ item.votes }}</div></div>
            </div>
          </div>
          <div class="ldb-item-bottom">
            <div class="item-name" style="font-size: 21; font-weight: 600">
              {{ item.name }}
            </div>
            <div
              class="item-branch-year"
              style="font-size: 14; font-weight: 400"
            >
              {{ item.branch }}<br />{{ item.degree }}{{ item.year }}
            </div>
          </div>
        </div>

        {% endfor %}
        <div id="arrow-right" class="arrow"></div>
        </Slider>
      </div> -->
      <div class="leaderboard-bottom">
        <div class="all-ppl-bottom" style="display: flex; margin-top: 5%; margin-left: -8%;">
          <!-- 1 -->
          <div class="item-img-cont" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="item-img">
              <img class="below-img" src={% static 'img/index3.jpg' %} >
            </div>

            <div class="ldb-item-bottom">
              <div class="item-name" style="font-size: 21; font-weight: 600">
                Ayush Mishra{{ item.name }}
              </div>
              <div
                class="item-branch-year"
                style="font-size: 14; font-weight: 400"
              >
                Electronics and Electrical Engineeering{{ item.branch }}<br />B.Tech
                {{ item.degree }} 2023{{ item.year }}
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="item-img-cont" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="item-img">
              <img class="below-img" src={% static 'img/index3.jpg' %} >
            </div>

            <div class="ldb-item-bottom">
              <div class="item-name" style="font-size: 21; font-weight: 600">
                Ayush Mishra{{ item.name }}
              </div>
              <div
                class="item-branch-year"
                style="font-size: 14; font-weight: 400"
              >
                Electronics and Electrical Engineeering{{ item.branch }}<br />B.Tech
                {{ item.degree }} 2023{{ item.year }}
              </div>
            </div>
          </div>

          <!-- 3 -->
          <div class="item-img-cont" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="item-img">
              <img class="below-img" src={% static 'img/index3.jpg' %} >
            </div>

            <div class="ldb-item-bottom">
              <div class="item-name" style="font-size: 21; font-weight: 600">
                Ayush Mishra{{ item.name }}
              </div>
              <div
                class="item-branch-year"
                style="font-size: 14; font-weight: 400"
              >
                Electronics and Electrical Engineeering{{ item.branch }}<br />B.Tech
                {{ item.degree }} 2023{{ item.year }}
              </div>
            </div>
          </div>

          <!-- 4 -->
          <div class="item-img-cont" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="item-img">
              <img class="below-img" src={% static 'img/index3.jpg' %} >
            </div>

            <div class="ldb-item-bottom">
              <div class="item-name" style="font-size: 21; font-weight: 600">
                Ayush Mishra{{ item.name }}
              </div>
              <div
                class="item-branch-year"
                style="font-size: 14; font-weight: 400"
              >
                Electronics and Electrical Engineeering{{ item.branch }}<br />B.Tech
                {{ item.degree }} 2023{{ item.year }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // Acquire the variables from context, send 1st , 2nd, 3rd and then other people (object).
    // let sliderImages = document.querySelectorAll(".slide"),
    //   arrowLeft = document.querySelector("#arrow-left"),
    //   arrowRight = document.querySelector("#arrow-right"),
    //   current = 0;

    // // Clear all images
    // function reset() {
    //   for (let i = 0; i < sliderImages.length; i++) {
    //     sliderImages[i].style.display = "none";
    //   }
    // }

    // // Initial slide
    // function startSlide() {
    //   reset();
    //   sliderImages[0].style.display = "block";
    // }

    // // Show previous
    // function slideLeft() {
    //   reset();
    //   sliderImages[current - 1].style.display = "block";
    //   current--;
    // }

    // // Show next
    // function slideRight() {
    //   reset();
    //   sliderImages[current + 1].style.display = "block";
    //   current++;
    // }

    // // Left arrow click
    // arrowLeft.addEventListener("click", function () {
    //   if (current === 0) {
    //     current = sliderImages.length;
    //   }
    //   slideLeft();
    // });

    // // Right arrow click
    // arrowRight.addEventListener("click", function () {
    //   if (current === sliderImages.length - 1) {
    //     current = -1;
    //   }
    //   slideRight();
    // });

    // startSlide();
  </script>
</html>
