{% extends 'base.html' %}

{% block title %} Leaderboard | SAIL Year Book Portal {% endblock %}

{% load static %}

{% block content %}
    <style>
        .leader-notice{
            height: 60px;
            width: 600px;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            
            margin: auto;
        }

        .leader-notice h2 {
            font-weight: 600;
        }
    </style>

    <div class="leader-notice">
        <h2>
            Leaderboard will soon be released.
        </h2>
    </div>

{% endblock %}

