{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/landing.css' %}>
    <link href="{% static 'img/sail_logo.png' %}" rel="shortcut icon" type="image/png">
    <title>Login | SAIL Year Book Portal</title>
</head>

<body>
    <div class="landingpage">
        <img src={% static 'img/SailLogo.svg' %} alt="" class="saillogo-img" />
        <div class="landing-intro">
            <h1 class="landing-heading">YEAR BOOK</h1>
            <hr class="landing-border" />
            <h4>#LET'S WRITE MEMORIES</h4>
            {% if logged_in %}
            <h1 class="text-center pt-5">You are already logged in go to<a class="nav-link"
                    href="{% url 'home' %}">Home</a>
            </h1>
            {% else %}
            <a class="loginbtn" {% ifequal next "/" %} {% if production %} href="{% url "
                social:begin" "azuread-tenant-oauth2" %}?next=/yearbook">Login Outlook</a>
            {% else %}
            href="{% url "social:begin" "azuread-tenant-oauth2" %}?next=/">Login Outlook</a>
            {% endif %}
            {% else %}
            href="{% url "social:begin" "azuread-tenant-oauth2" %}?next={{ next }}">Login Outlook</a>
            {% endifequal %}
            {% endif %}
        </div>
    </div>

</body>

</html>