{% extends 'base.html' %}

{% block title %} Leaderboard | SAIL Year Book Portal {% endblock %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href={% static 'css/leaderboard.css' %} />
    <title>Leaderboard</title>
  </head>
  <body>
    <div class="leaderboard-page">
      <!-- <Navbar/> -->
      <div class="leaderboard-top">
        <h1 class="leaderboard-title">Testimonials Leaderboard</h1>
        <div class="leaderboard-top3">
          <div class="leaderboard-second">
            <div class="ldb-second-top">
              <div class="second-posin"><div>2</div></div>
              <div class="second-img-cont">
                <img class="second-img" src={% static 'img/index3.jpg' %} >
              </div>
              <div class="second-testimonials">
                <div class="cont"><div>500{{ second.votes }}</div></div>
                <!--Remove the integer ^ when data is fetched from the database  -->
              </div>
            </div>

            <div class="ldb-second-bottom">
              <div class="second-name" style="font-size: 1.6vw; font-weight: 600">
                Ayush Mishra{{ second.name}}
              </div>
              <div
                class="second-branch-year"
                style="font-size: 16; font-weight: 400"
              >
                Chemical Engineeering{{ second.branch }}<br />B.Tech{{ second.degree }} 2023{{ second.year }}
              </div>
            </div>
          </div>

          <div class="leaderboard-first">
            <div class="ldb-first-top">
              <div class="first-posin"><div>1</div></div>
              <div class="first-img-cont">
                <img class="first-img" src={% static 'img/index3.jpg' %} >
              </div>
              <div class="first-testimonials">
                <div class="cont"><div>700{{ first.votes}}</div></div>
                <!--Remove the integer ^ when data is fetched from the database  -->
              </div>
            </div>

            <div class="ldb-first-bottom">
              <div class="first-name" style="font-size: 1.8vw; font-weight: 600">
                Ayush Mishra{{ first.name}}
              </div>
              <div
                class="first-branch-year"
                style="font-size: 18; font-weight: 400"
              >
              Chemical Engineeering{{ first.branch }}<br />B.Tech{{ first.degree }} 2023{{ first.year }}
              </div>
            </div>
          </div>

          <div class="leaderboard-third">
            <div class="ldb-third-top">
              <div class="third-posin"><div>3</div></div>
              <div class="third-img-cont">
                <img class="third-img" src={% static 'img/index3.jpg' %} >
              </div>
              <div class="third-testimonials">
                <div class="cont"><div>400{{ third.votes }}</div></div>
                <!--Remove the integer ^ when data is fetched from the database  -->
              </div>
            </div>

            <div class="ldb-third-bottom" style="position: relative; right: 15%; margin-bottom: -5%;">
              <div class="third-name" style="font-size: 1.6vw; font-weight: 600">
                Ayush Mishra{{ third.name }}
              </div>
              <div
                class="third-branch-year"
                style="font-size: 14.5; font-weight: 400"
              >
              Chemical Engineeering{{ third.branch }}<br />B.Tech{{ third.degree }} 2023 {{ third.year }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leaderboard-bottom">
      <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                    <div class="card-body">
                        <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ second.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ second.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ second.branch }}<br />B.Tech{{ second.degree }} 2023{{ second.year }}
                          </div>
                        </div>
                      </div> 
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ second.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ second.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ second.branch }}<br />B.Tech{{ second.degree }} 2023{{ second.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ second.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ second.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ second.branch }}<br />B.Tech{{ second.degree }} 2023{{ second.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ fourth.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ fourth.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ fourth.branch }}<br />B.Tech{{ fourth.degree }} 2023{{ fourth.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ fifth.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ fifth.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ fifth.branch }}<br />B.Tech{{ fifth.degree }} 2023{{ fifth.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ sixth.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ sixth.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ sixth.branch }}<br />B.Tech{{ sixth.degree }} 2023{{ sixth.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ seventh.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ seventh.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ seventh.branch }}<br />B.Tech{{ seventh.degree }} 2023{{ seventh.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ eighth.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ eighth.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ eighth.branch }}<br />B.Tech{{ eighth.degree }} 2023{{ eighth.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ ninth.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ ninth.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ ninth.branch }}<br />B.Tech{{ ninth.degree }} 2023{{ ninth.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                      <div class="leaderboard-fourth">
                        <div class="ldb-fourth-top">
                          <div class="fourth-img-cont">
                            <img class="fourth-img" src={% static 'img/index3.jpg' %} >
                          </div>
                          <div class="fourth-testimonials">
                            <div class="cont"><div>394{{ tenth.votes }}</div></div> 
                            <!--Remove the integer ^ when data is fetched from the database  -->
                          </div>
                        </div>

                        <div class="ldb-fourth-bottom">
                          <div class="fourth-name" style="font-size: 1.7vw; font-weight: 600">
                            Ayush Mishra{{ tenth.name}}
                          </div>
                          <div
                            class="fourth-branch-year"
                            style="font-size: 1.2vw; font-weight: 400"
                          >
                            Chemical Engineeering{{ tenth.branch }}<br />B.Tech{{ tenth.degree }} 2023{{ tenth.year }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div>
  </div>
      </div>
    </body>
  </html>
  {% endblock %} 
  {% block extrascripts %}
<script>
var multipleCardCarousel = document.querySelector(
  "#carouselExampleControls"
);
if (window.matchMedia("(min-width: 768px)").matches) {
  var carousel = new bootstrap.Carousel(multipleCardCarousel, {
    interval: false,
  });
  var carouselWidth = $(".carousel-inner")[0].scrollWidth;
  var cardWidth = $(".carousel-item").width();
  var scrollPosition = 0;
  $("#carouselExampleControls .carousel-control-next").on("click", function () {
    if (scrollPosition < carouselWidth - cardWidth * 4) {
      scrollPosition += cardWidth;
      $("#carouselExampleControls .carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
  $("#carouselExampleControls .carousel-control-prev").on("click", function () {
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      $("#carouselExampleControls .carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
} else {
  $(multipleCardCarousel).addClass("slide");
}
    </script>
{% endblock %} 
