{% extends 'base.html' %}

{% block title %} Leaderboard | SAIL Year Book Portal {% endblock %}

{% load static %}

{% block content %}
    <style>
        table{
            margin: auto;
            margin-right: 10vw;
            margin-top: 3vh;
            width: 65%;
            border-radius: 20px;
            background: radial-gradient(103.91% 192.47% at 97.33% 0%, #CF93FF 70.31%, #BFA8FF 100%);
            box-shadow: 2px 2px 5px #888888;
        }
        tr {
            padding: 10px;
            border-radius: 20px;
            border-top: 1.5px solid white;
            height: 10vh;
        }
        th{
            padding-left: 1vw;
            background-color: white;
        }
        .top1{
            border-top-left-radius: 20px;
        }
        .top2{
            border-top-right-radius: 20px;
        }
        td{
            padding-left: 1vw;
            padding-right: 4vw;
            font-weight: 600;
        }
        /* .sl-rounded{
            border-bottom-left-radius: 20px;
        } */
        .table-head{
            height: 8vh;
            border-top: 0;
            /* background: white; */
        }
        .leaderboard-container{
            height: 75vh;
            overflow: auto;
            width: 90vw;
        }
        .leaderboard-container::-webkit-scrollbar {
            width: 8px;
        }
     
        .leaderboard-container::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.847);
            border-radius: 5px;
        }
        .leaderboard-container::-webkit-scrollbar-thumb {
            background: #A685FB;
            border-radius: 5px;
        }
        .leaderboard-container::-webkit-scrollbar-thumb:hover {
            background: #7c4ef2;
        }
    </style>
    <div class="leaderboard-full">
        <div class="leaderboard-content" >
            <h3 class="text-center" style="  font-weight: bold;
            margin-top: 3vh;
            font-size: 39px; color: rgb(7, 25, 86);">Leaderboard</h3>
        </div>
        <div class="leaderboard-container">
            <div class="content">
                <table>
                    <tr class="table-head">
                        <th class="top1">Sl.</th>
                        <th>Profile</th>
                        <th class="top2">Award</th>
                    </tr>
                    {% for question,Profile in polls.items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><img src={{ Profile.profile_pic.url }} width="60px" style="margin-right: 20px;">{{ Profile.full_name }}</td>
                        <td>{{ question }}</td>
                    </tr>                        
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

