{% extends 'base.html' %}

{% block title %} Team | SAIL Year Book Portal {% endblock %}

{% block content %}
{% load static %}

    <div class="container">
        <h1 class="text-center my-2"><b>Web-Developers</b></h1>
            <div class="row">
                {% for mem in team_members %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                    <div class="card" style="width: 18rem;">
                        <img src="{{mem.profile_pic.url}}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><a href={{mem.linkedin}} target="_blank">{{mem.name}}</a></h5>
                            <p class="card-text">{{mem.position}}<br>SAIL</p>
                            <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
    </div>



{% endblock %}