
{% extends 'base.html' %}

{% block title %} Profile Search | SAIL Year Book Portal {% endblock %}

{% load static %}

{% block extrastyles %} <link rel="stylesheet" type="text/css" href={% static 'css/write_testimonial.css' %}> {% endblock %}


{% block content %}



    <div class="testimonials">

        <div class="images">
            <div class="img one"><img src={% static 'img/write_test_example_imgs/img1.png' %} alt=""/></div>
            <div class="img two" ><img src={% static 'img/write_test_example_imgs/img2.png' %} alt=""/></div>
            <div class="img three" > <img src={% static 'img/write_test_example_imgs/img1.png' %} alt=""/></div>
            <div class="img four" > <img src={% static 'img/write_test_example_imgs/img2.png' %} alt=""/></div>
            <div class="img five" > <img src={% static 'img/write_test_example_imgs/img2.png' %} alt=""/></div>
            <div class="img six" > <img src={% static 'img/write_test_example_imgs/img1.png' %} alt=""/></div>
            <div class="text">
                <h1>A plethora of delightful students</h1>
                <div>
                    <p>
                        The memories you've made shall forever stay,
                        Inscribed in your heart, come what may.
                        <br>
                        The friends you've made, the bonds you've shared,
                        Are just a click away, ready to be unified.
                    </p>
                </div>
            </div>
        </div>

        <div class="swiper" id="profile-links-flex">
            {% for profile in profiles|slice:":3" %}
                <a href="{% url 'profile' profile.user.username %}" style="text-decoration: none;">
                    <div class="card">
                        <div class="thumbnail">
                            <img src={{ profile.profile_pic.url }} alt="Profile pic"/>
                        </div>

                        <h4>{{ profile.full_name }}</h4>

                        <div class="desc">
                            <p align="center" class="info">{{ profile.get_department_display }}, {{ profile.get_program_display }}, 20{{ profile.rollno | stringformat:"i" | slice:":2" }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="break"></div> <!-- break -->
            <a href="{% url 'search' %}">See more >></a>
        </div>

    </div>

{% endblock %}


